<section class="Room2">
<h2>Ingrese un codigo para prender las luces y revelar el acertijo</h2>
<form action = '@Url.Action("fromXToY")' method = "POST">
    Ingrese su respuesta: <input type="string" name="respuesta" placeholder="Ingrese su respuesta"/><br/>
<input type="submit" value="Mandar">
</form>
</section>