<section class="Room3">
<h2>RESPONDER EN MAYUSCULAS</h2>
<h3>Soy pequeño, pero si me das la vuelta, te ayudo a abrir una puerta.
Estoy en tu mano, pero no soy un anillo.
Puedo ser de metal, pero no siempre.
Mi trabajo es girar y permitir que pases.</h3>

<form action = '@Url.Action("fromXToY", "Home")' method = "POST">
    Ingrese su respuesta: <input type="string" name="answer" placeholder="Ingrese su respuesta"/><br/>
<input type="submit" value="Mandar">
</form>

</section>