<section class="Room2">
<h2>Ingrese un codigo de 3 digitos para prender las luces y revelar el acertijo</h2>
<form action = '@Url.Action("fromXToY", "Home")' method = "POST">
    <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/><br/>
    <input type="submit" value="Mandar">
</form>
</section>