<section class="Room5">
<h2>El plan funcionó @ViewBag.name . Después de @ViewBag.cronometro minutos de tensión, pistas escondidas y nervios al límite, conseguimos lo imposible: escapar de una prisión de máxima seguridad.
Ni las cámaras, ni los candados, ni los guardias pudieron con nosotros.
Hoy dormimos libres… hasta que vuelva el próximo desafío.</h2>

<a href='@Url.Action("Index")' >VOLVER A LA PAGINA DE INICIO</a>
</section>