<section class="Room3">
<h1>aa</h1>
<form action = '@Url.Action("fromXToY", "Home")' method = "POST">
    <h2>Soy un eco constante en las paredes, un susurro sin voz que te persigue. Cuanto más me intentas ignorar, más fuerte resueno. No soy el arrepentimiento, pero me alimento de él. ¿Qué soy?</h2>
    <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    <input type="submit" value="Mandar">
</form>
</section>