<section class = "Room4">
<h1>|</h1>
<h2>Frente a ti hay tres puertas, y solo una te llevará a la libertad, mientras que las otras dos conducen a un destino fatal ¿Cual eliges?</h2>
<div>
<p>Detrás de la 1ERA puerta, hay un gorila hambriento que no ha comido en diez años.</p>
<a href='@Url.Action("fromXToYButton")'> </a>
</div>
<div>
<p>Detrás de la 2DA puerta, hay un incendio abrasador con llamas tan intensas que te incinerarían al instante.</p>
<a href='@Url.Action("fromXToPerdiste")'> </a>
</div>
<div>
<p>Detrás de la 3ERA puerta, hay tres guardias de la prisión armados con metralletas listos para disparar.</p>
<a href='@Url.Action("fromXToPerdiste")'> </a>
</div>
</section>