<section class = "INDEX">     
    <h1>Se ha producido un error en el sistema. Uno de los reclusos está a punto de escapar... ¿Eres tú?</h1>
    <h2><a href='@Url.Action("ANombre", "Home")'> Empezar</a></h2> 
    <h2><a href='@Url.Action("MostrarTutorial", "Home")'> Tutorial</a></h2>
    <h2><a href='@Url.Action("MostrarIntegrantes", "Home")'> Inegrantes</a></h2>
</section>