<section class = "Room0">
<p>Antes de continuar, necesitamos saber tu nombre.</p>

     <form action = '@Url.Action("play")' method = "POST">
            Ingrese su nombre: <input type="string" name="nombre" placeholder="Ingrese su nombre"/><br/>
           <input type="submit" value="Mandar">
     </form>
</section>