<p>Antes de continuar, necesitamos saber tu nombre.</p>
     <form action = '@Url.Action("actualizacionPalabra")' method = "POST">
            Ingrese su nombre: <input type="char" name="nombre" placeholder="Ingrese su nombre"/><br/>
           <input type="submit" value="Mandar">
</form>