<section class = "Room0">
<h1>Antes de empezar, necesitamos saber tu nombre.</h1>
  
     <form action = '@Url.Action("play", "Home")' method = "POST">
          <input type="text" name="name"  autocomplete="off"/>
          <input type="submit" value="Mandar"><br/>
          
     </form>
     
</section>