<section class = "Integrantes">
<h2>INTEGRANTES</h2>
    <div>
        <h3>Agustin Aiello</h3>
        <img src = "IMAGENES/Agus.jpg" alt = "Foto1"/>
    </div>
    <div>
        <h3>Sofia Zalucki</h3>
        <img src = "IMAGENES/sofi.jpg" alt = "Foto2"/>
    </div>
    <div>
        <h3>Joaquin Iribas</h3>
        <img src = "IMAGENES/joaco.jpg" alt = "Foto3"/>
    </div>
    </section>