<section class = "lose">
<h2>Desafiaste cerraduras, esquivaste miradas y seguiste cada pista con todo lo que tenias.
Estuviste cerca. Muy cerca. Pero un paso en falso, una pista que no viste y las puertas volvieron a cerrarse.
Hoy seguis tras las rejas. Pero la historia no termina acá...</h2>
<a href='@Url.Action("Index")' >VOLVER A LA PAGINA DE INICIO</a>
</section>