<h2>Durante ............ minutos desafiamos cerraduras, esquivamos miradas y seguimos cada pista con todo lo que teníamos.
Estuvimos cerca. Muy cerca. Pero un paso en falso, una pista que no vimos… y las puertas volvieron a cerrarse.
Hoy seguimos tras las rejas. Pero la historia no termina acá...</h2>
<img src = "IMAGENES/perdiste.jpg" alt = "<FotoPerdiste>"/>