<section class = "Tuto">
<h1>TUTORIAL</h1>
    <h2>Este es un juego de escape. Tu objetivo principal es resolver una serie de acertijos y desafíos para lograr salir de la prision.
    Deberás prestar atención a todos los elementos en pantalla. Observá cuidadosamente cada imagen, texto o pista que aparezca, ya que cualquier detalle puede ser clave.
    Usá la lógica, la deducción y tu intuición. No hay una única forma de pensar: a veces lo más simple es la respuesta correcta.
    ¡Buena suerte! Tu ingenio es tu mejor herramienta para escapar.</h2>
    
    <h2>Has sido encerrado injustamente en una prisión de máxima seguridad. Las puertas están selladas, las cámaras te vigilan, y los guardias patrullan sin descanso.
    Pero esta noche, algo ha cambiado... has encontrado una pequeña oportunidad para huir. Tu misión es clara: escapar antes de que se acabe el tiempo. Tendrás 60 minutos para resolver acertijos, descifrar pistas y evitar que te atrapen.
    Cada decisión cuenta. Un paso en falso... y permanecerás entre rejas para siempre.</h2>

    <a href='@Url.Action("Index")' >VOLVER A LA PAGINA DE INICIO</a>
</section>