<div>
    <h1>PRISON BREAK</h1>
    <h2>Este es un juego de escape. Tu objetivo principal es resolver una serie de acertijos y desafíos para lograr salir de la prision.</h2>
    <h2>Deberás prestar atención a todos los elementos en pantalla. Observá cuidadosamente cada imagen, texto o pista que aparezca, ya que cualquier detalle puede ser clave.</h2>
    <h2>Usá la lógica, la deducción y tu intuición. No hay una única forma de pensar: a veces lo más simple es la respuesta correcta.</h2>
    <h2>¡Buena suerte! Tu ingenio es tu mejor herramienta para escapar.</h2>
    <img src = "IMAGENES/prision-tuto.jpg" alt = "FotoPrision"/>
</div>

<a href='@Url.Action("Index")' >VOLVER A LA PAGINA DE INICIO</a>