html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Fondos */
section.Room1{
  background-image: url(/TP-05-ZIA/wwwroot/IMAGENES/Imagen-celda.jpg);
}
section.Room2{
  background-image: url(/TP-05-ZIA/wwwroot/IMAGENES/Pasillo-Celda.jpg);
}
section.Room3{
  background-image: url();
}
section.Room4{
  background-image: url();
}

body {
  margin: 10px;
  padding: 10px;
}

footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
  clear:both;
}

.Integrantes img{
width: 20%;
height: auto;
float: left;
padding-left: 5%;
padding-bottom: 5%;
padding-top: 5%;
}

.Integrantes h2{
  text-align: center;
}

.Tuto{
  background-image: url(/prision-tuto.jpg);
  background-size: cover;
  padding:15%;
  text-align: center;
}

.Tuto h1{
font-size: 250%;
color: white;
}

.Tuto h2{
  color: white;
  background-color: rgba(100, 100, 100, 0.5);
}