*{
margin: 0%;
padding: 0%;
background-color: black;
}

html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Fondos */
section.Room1{
  background-image: url(../IMAGENES/Celdaa.jpg);
  height: 1000px;
  background-size: cover;
  background-position: center;
}
section.Room1 h2{
  margin-top: 8%;
  margin-left: 3%;
  color: white;
}
section.Room1 a{
  background-color: aqua;
  margin-left: 90%;
  margin-top: 70px;
}

section.Room2{
  background-image: url(../IMAGENES/Pasillo-LuzApagada.jpg);
}
section.Room3{
  background-image: url();
}
section.Room4{
  background-image: url();
}

.Integrantes img{
  width: 20%;
  height: auto;
  float: left;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  }
  
  .Integrantes h2{
    text-align: center;
  }
  
  .Tuto{
    background-image: url(/prision-tuto.jpg);
    background-size: cover;
    padding:15%;
    text-align: center;
  }
  
  .Tuto h1{
  font-size: 250%;
  color: white;
  }
  
  .Tuto h2{
    color: white;
    background-color: rgba(100, 100, 100, 0.5);
  }